[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
weaviate-client = "==3.15.6"
python-dotenv = "==1.0.0"
openai = "==0.27.4"
duckduckgo-search = "==2.8.6"
bs4 = "0.0.1"

[dev-packages]

[requires]
python_version = "3.11"
